<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false" scan="true" scanPeriod="20 seconds">

  <define name="logDir" class="net.paissad.waqtsalat.logging.LogDirDefiner" />
  <define name="logFileName" class="net.paissad.waqtsalat.logging.LogFileNameDefiner" />
  <define name="logLevel" class="net.paissad.waqtsalat.logging.LogLevelDefiner" />

  <property name="absoluteLogPath" value="${logDir}${file.separator}${logFileName}" />
  <property name="logDirRotate" value="${logDir}${file.separator}old" />
  <property name="stdout_appender" value="STDOUT" />
  <property name="file_appender" value="FILE" />
  <property name="rolling_file_appender" value="ROLLING_FILE" />

  <appender name="${stdout_appender}" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>${logLevel}</level>
    </filter>
    <encoder>
      class="ch.qos.logback.classic.PatternLayout">
      <pattern>%date{ISO8601} %-5level - %m %ex{full}%n</pattern>
      <!-- <Pattern>%date{ISO8601} [%thread] %-5level %-55(%logger{36}.%M \(%-4L\)) - %m %ex{full}%n</Pattern> -->
      <!-- only log 2 lines of stack trace per cause of an exception -->
      <!-- <pattern>%d{yyyy/MM/dd HH:mm:ss,SSS} [%thread] %-5level %logger{36} - %m %throwable{2}%n</pattern> -->
    </encoder>
  </appender>

  <appender name="${file_appender}" class="ch.qos.logback.core.FileAppender">
    <file>${absoluteLogPath}</file>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>${logLevel}</level>
    </filter>
    <append>true</append>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <charset>UTF-8</charset>
      <pattern>%date{ISO8601} %-5level - %m %ex{full}%n</pattern>
    </encoder>
  </appender>

  <appender name="${rolling_file_appender}" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${absoluteLogPath}</file>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>${logLevel}</level>
    </filter>
    <append>true</append>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- rotate and zip daily for log collection and archiving -->
      <fileNamePattern>${logDirRotate}${file.separator}${logFileName}.%d{yyyyMMdd}.%i.zip</fileNamePattern>
      <!-- keep 30 days' worth of history -->
      <maxHistory>30</maxHistory>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- or whenever the file size reaches 10MB -->
        <maxFileSize>10MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <charset>UTF-8</charset>
      <pattern>%date{ISO8601} %-5level - %m %ex{full}%n</pattern>
    </encoder>
  </appender>

  <logger name="ch.qos.logback" level="ERROR" />
  <logger name="org.hibernate" level="WARN" />

  <root level="TRACE">
    <appender-ref ref="${stdout_appender}" />
    <!-- <appender-ref ref="${file_appender}" /> -->
    <appender-ref ref="${rolling_file_appender}" />
  </root>

</configuration>